<h1>
	{{title}}
</h1>
<h3>This form will add the user data with encrypted password to the MySQL database:</h3>
<br>
<div class="form-group" style="display:inline;">
	<form (submit)="addUser(username, password)">
		<div class="input-group">
			<input class="form-control" type="text" name="username" [(ngModel)]="username" placeholder="Enter Username">	
			<input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="Enter Password">
			<button class="btn btn-default btn-block" type="submit">Add</button>
		</div>
	</form>
</div>
<br>

<div class="form-group" style="display:inline;">
		<div class="input-group">
			<h3 class="panel-title" *ngIf="results.length == 0">
				No Users
			</h3>
			<h3 class="panel-title" *ngIf="results.length !== 0">
				Users Added:
			</h3>
		</div>
	<div *ngFor="let user of results" class="panel panel-body">
		Username: {{user.username}}
	</div>
	
</div>