.signup-form {
    color: #999;
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
} 

.form-control {
    border-color: #eee;
    min-height: 41px;
    box-shadow: none !important;
}
.form-control:focus {
    border-color: #3919c9;
}
.form-control, .btn {        
    border-radius: 3px;
}
.signup-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form h2 {
    color: #333;
    margin: 0 0 30px 0;
    display: inline-block;
    padding: 0 30px 10px 0;
    border-bottom: 3px solid #3919c9;
    font-size: 18px;
}
.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-size: 16px;
    font-weight: bold;
    color:black;
}
.signup-form input[type="checkbox"] {
    margin-top: 2px;
}

.signup-form textarea {
    font-size: 12px;   
    color:black;
}

.signup-form input {

    font-size: 12px;   
    color:black;
}
/* .signup-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: #3919c9;
    border: none;
    margin-top: 20px;
    min-width: 140px;
} */
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #3919c9;
    outline: none !important;
}
.signup-form a {
    color: #3919c9;
    text-decoration: underline;
}
.signup-form a:hover {
    text-decoration: none;
}
.signup-form form a {
    color: #3919c9;
    text-decoration: none;
}	
.signup-form form a:hover {
    text-decoration: underline;
}

.preview {
    width: 400px;
    height: 250px;
}