
<div class="signup-form">
  <div *ngIf="savePostError" class="alert alert-danger fade in">
      <strong>Error Saving Post!</strong> {{savePostErrorMsg}}
  </div>
<form  ngNativeValidate (ngSubmit)="savePost()" class="form-horizontal">
<div class="col-xs-8 col-xs-offset-4">
  <h2>Write a Travel Post</h2>
</div>		
    <div class="form-group">
  <label class="control-label col-xs-4">Travel Post Title </label>
  <div class="col-xs-8">
            <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required="required">
        </div>        	
    </div>
<div class="form-group">
  <label class="control-label col-xs-4">Destination</label>
  <div class="col-xs-8">
            <input type="text" class="form-control" name="destination" [(ngModel)]="model.destination" #destination="ngModel" required="required">
        </div>        	
    </div>


    <div class="form-group">
      <label class="control-label col-xs-4">Continent</label>
      <div class="col-xs-8">
        <select name="filter" class="form-control"  [(ngModel)]="model.continentGlob" #continentGlob="ngModel" required="required">
          <option *ngFor="let region of continent" [value]="region">{{region}}
          </option>
        </select>
      </div>
    </div>
    
    
    <div class="form-group">
      <label class="control-label col-xs-4">Country</label>
      <div class="col-xs-8">
        <select name="filter" class="form-control" [(ngModel)]="model.country" #country="ngModel" required="required">
          <option *ngFor="let country of countryData" [value]="country.capital">{{country.capital}}
          </option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-xs-4">City</label>
      <div class="col-xs-8">
        <select name="filter" class="form-control" [(ngModel)]="model.city" #city="ngModel" required="required">
          <option *ngFor="let country of countryData" [value]="country.name">{{country.name}}
          </option>
        </select>
      </div>
    </div>


<div class="form-group">
  <label class="control-label col-xs-4">Picture</label>
    <div class="col-xs-8">
      <input type="file" name="image" [(ngModel)]="model.image" #image="ngModel" (change)="onFileSelected($event)" required="required" />
          </div>        	
    </div>
<div class="form-group">
  <label for="experience">Your Experience</label>
  <textarea class="form-control"  name="experience" [(ngModel)]="model.experience" #experience="ngModel" rows="20" required="required" ></textarea>      	
</div>

<div class="form-group">
  <div class="col-xs-8 col-xs-offset-4">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>  
</div>		      
</form>