<div class="container">
  <div *ngFor="let post of myPosts" class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  
          <h2 class="section-heading">{{ post.title }}</h2>
   
          <blockquote>{{ post.destination }}</blockquote>      
         
          <a href="#">
              <img class="img-responsive" src="{{imageURL}}{{post.imagepath}}" alt="">
          </a>
         
          <p>{{ post.experience }}</p>
            
          <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/edit-post', post.id]">Edit Post</button>         
          <button type="button" class="btn btn-danger btn-sm">Delete Post</button>
        
      </div>
  </div>
</div>